---
- name: Install Ansible
  hosts: all
  gather_facts: true

  tasks:
    - name: Install Ansible via Homebrew
      ansible.builtin.shell: /opt/homebrew/bin/brew install ansible
      args:
        creates: /opt/homebrew/bin/ansible
      when: ansible_facts['os_family'] == "Darwin"

    - name: Install ansible-lint via Homebrew
      ansible.builtin.shell: /opt/homebrew/bin/brew install ansible-lint
      args:
        creates: /opt/homebrew/bin/ansible-lint
      when: ansible_facts['os_family'] == "Darwin"

    - name: Install Ansible via uv (Debian)
      ansible.builtin.shell: ~/.local/bin/uv tool install ansible
      args:
        creates: ~/.local/share/uv/tools/ansible/bin/ansible
      when: ansible_facts['os_family'] == "Debian"

    - name: Install ansible-lint via uv (Debian)
      ansible.builtin.shell: ~/.local/bin/uv tool install ansible-lint
      args:
        creates: ~/.local/share/uv/tools/ansible-lint/bin/ansible-lint
      when: ansible_facts['os_family'] == "Debian"

    - name: Install Ansible via pacman (Arch)
      community.general.pacman:
        name: ansible
        state: present
      become: true
      when: ansible_facts['os_family'] == "Archlinux"

    - name: Install ansible-lint via pacman (Arch)
      community.general.pacman:
        name: ansible-lint
        state: present
      become: true
      when: ansible_facts['os_family'] == "Archlinux"

    - name: Add Ansible to shell config
      ansible.builtin.blockinfile:
        path: ~/.zshrc
        create: true
        marker: "# {mark} ANSIBLE"
        block: |
          export PATH=$PATH:~/.local/share/uv/tools/ansible/bin:~/.local/share/uv/tools/ansible-lint/bin
