Host desktop
    HostName desktop.home.lan
    User matt

Host macmini
    HostName macmini.home.lan
    User matt

Host macbookair
    HostName macbookair.home.lan
    User matt

Host optiplex-0
    HostName optiplex-0.home.lan
    User matt

Host *
    AddKeysToAgent yes
{% if ansible_facts['os_family'] == "Darwin" %}
    UseKeychain yes
{% endif %}
    IdentityFile ~/.ssh/id_rsa
