Host *
{% if inventory_hostname in groups.get('with_gui_tools', []) %}
{% if ansible_facts['os_family'] == "Darwin" %}
    IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
{% else %}
    IdentityAgent "~/.1password/agent.sock"
{% endif %}
{% endif %}

Host desktop
    HostName desktop.home.lan
    User matt

Host macmini
    HostName macmini.home.lan
    User matt

Host macbookair
    HostName macbookair.home.lan
    User matt

Host miniserver
    HostName miniserver.home.lan
    User matt
