# Starship configuration

format = """
$username\
$hostname\
$directory\
$git_branch\
$git_status\
$fill\
$status\
$line_break\
$time\
$character"""

[username]
style_user = "bold green"
style_root = "bold red"
format = "[$user]($style)"
show_always = true

[hostname]
ssh_only = false
format = "[@$hostname]($style):"
style = "bold green"

[directory]
format = "[$path]($style)"
style = "bold blue"
truncation_length = 5

[git_branch]
format = ":[$symbol$branch]($style)"
symbol = " "
style = "bold purple"

[git_status]
format = "[$all_status$ahead_behind]($style)"
style = "bold yellow"

[fill]
symbol = " "

[status]
disabled = false
format = "[$symbol$status]($style)"
symbol = "✘ "
success_symbol = ""
style = "bold red"

[line_break]
disabled = false

[time]
disabled = false
format = "[$time]($style) "
time_format = "%H:%M:%S"
style = "bold yellow"

[character]
success_symbol = "[❯](bold green)"
error_symbol = "[❯](bold red)"
